.manage-wager-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0 5px;
    padding: 5px;
    padding-top: 0;
    border-radius: 4px;
    color: silver;
    text-align: center;
    font-size: 36px;
    line-height: 24px;
    color: red;
    font-weight: bold;
    outline: none;

    &:hover {
      font-size: 42px;
    }
  }
}
