.display-options-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    word-wrap: normal;
    width: 25%;
    margin: 0 5px;
    padding: 5px;
    padding-top: 3px;
    border-radius: 4px;
    color: silver;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: red;
    font-weight: bold;
    outline: none;

    &.even.money {
      width: 50%;
    }
  }
}
