.player {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .hands-wrapper {
    width: 100%;
    height: 50%;
  }

  .changeable {
    width: 100%;
    height: 15%;
    text-align: center;
    display: none;
    background-color: blue;
  }

  .avatar-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    text-align: center;

    img {
      padding-top: 50%;
      width: 60%;
      height: 60%;
      margin: auto;
      border-radius: 20%;
    }

    span.outer {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 75%;
      left: 0;

      span.inner {
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .8);

        &:hover {
          background-color: rgba(255, 255, 255, .1);
          font-weight: bold;
        }
      }
    }
  }

  &:hover {

    .changeable {
      height: 10%;
      display: block;
    }

    .avatar-wrapper {
      height: 40%;

      img {
        padding-top: 5%;
        width: 90%;
        height: 90%;
      }

      span {
        font-size: 24px;
      }
    }
  }
}
