.player {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .hands-wrapper {
    width: 100%;
    height: 52%;
    position: relative;

    .hand-value {
      display: none;
    }

    &:hover {
      .hand-value {
        display: inline;
        position: absolute;
        top: center;
        left: auto;
        font-size: 48px;
        color: rgba(0, 0, 0, .5);

        &.mini {
          font-size: 28px;
          color: darkgreen;
        }
      }
    }
  }

  .changeable {
    width: 100%;
    height: 13%;
    text-align: center;
    display: none;
    background-color: rgba(255, 255, 255, .05);
  }

  .avatar-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding-top: 10%;
      width: 60%;
      height: 60%;
      border-radius: 20%;
    }

    span.outer {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 75%;
      left: 0;

      span.inner {
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .8);

        &:hover {
          background-color: rgba(255, 255, 255, .1);
          font-weight: bold;
        }
      }
    }
  }

  &:hover {

    .changeable {
      height: 8%;
      display: flex;
      align-items: center;
    }

    .avatar-wrapper {
      height: 40%;

      img {
        padding: 5%;
        width: 90%;
        height: 90%;
        max-width: 200px;
      }

      span {
        font-size: 24px;
      }
    }
  }
}
